<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Latest compiled and minified JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="scripts.js"></script>

<script>
	function obtenerId(){
		var nit = document.getElementById('nit').value;
		
	}
</script>

<title>CEST - Modificar camilla</title>

</head>

<body>
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1 align="center">Modificar Camilla</h1>
		</div>
		<div class="col-md-1"></div>
	 </div>
	 <br>

	<div class="container">			
			<form class="form-signin" action="#" th:action="@{/modificarCamilla}" th:object="${camilla}" th:method="post">
				<h2>Por favor llene todos los campos</h2>
				<div class="row">
					<div class="col-md-4">
						<label>Id</label>
						<input th:field="*{idelemento}" type="text" id="id" class="form-control" readonly="readonly">
					</div>
					<div class="col-md-4">
						<label>Tipo</label>
						<select th:field="*{tipocamilla}" id="tipo" name="tipo" class="form-control"  style="width: 100%" required title="SELECCIONA EL TIPO DE CAMILLA">
						   	<option value="">Seleccione</option>
						   	<option value="Lona">Lona</option>
						   	<option value="Miller">Miller</option>
						</select>
					</div>
					<div class="col-md-4">
						<label>Cédula de encargado</label>
						<input th:field="*{elemento.encargado.cedula}" id="cedulaencargado" name="cedulaencargado" type="text" class="form-control"  onblur="ValidarCedula();" required maxlength="10" pattern="\d+" title="lA CÉDULA DEBE SER NUMÉRICA">
					</div>				
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<label><br>Ubicacion: </label>						
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-4">
						<label>Sede</label> <br>
						<select th:field="*{elemento.piso.bloque.sede.nombre}" id="sede" class="form-control" name="sede" style="width: 100%" onchange="ObtenerBloques();">
						   	<option value="">Seleccione</option>
						   	<th:block th:each="sede:${sedes}">
						   		<option th:value="${sede.nombre}" th:text="${sede.nombre}"></option>	
						   	</th:block>		   	
						</select>						
					</div>				
					
					<div class="col-md-4">
						<label>Bloque</label> <br>
						<select th:field="*{elemento.piso.bloque.bloquePk.letra}" id="bloque" class="form-control" name="bloque" style="width: 100%" onchange="ObtenerPisos();">
						   	<option value="">Seleccione</option>   	
						</select>						
					</div>
					
					<div class="col-md-4">
						<label>Piso</label> <br>
						<select  id="piso" class="form-control" name="piso" style="width: 100%">
						   	<option value="">Seleccione</option>   	
						</select>						
					</div>					
				</div>
				
				<div class="row">
					<div class="col-md-5"></div>
					<div class="col-md-2">
						<br>
						<button type="submit" class="btn btn-primary btn-block">Modificar</button>
					</div>
					<div class="col-md-5"></div>
				</div>	
			</form>
		</div>
</body>
</html>
